:root {
    --colorAmarillo : #EAC926;
    --colorAzul : #1259c3;
    --colorBlanco : #ffffff;
    --colorRojo:#e74c3c;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

body {
    font-family: 'lato';
    max-width: 1140px;
    margin: 0 auto;
    background-color: #c0c0c0;
}

.box__end {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.box__card {
    max-width: 1440px;
    width: 90%;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 5px 5px 5px #282727;
    border-radius: 5px;
}

.box__card--title {
    margin-bottom: 30px;
    text-align: start;
}

.link {
    color: var(--colorRojo);
}
